In [1]:
import os
import numpy as np
import pandas as pd

### EDA(Explore Data Analysis):

In [2]:
#Reading the data:
Heartbeat_DF = pd.read_csv("./HEARTBEAT_DATASET/HeartBeat.csv")

In [3]:
Heartbeat_DF.shape

(67950, 5)

In [4]:
Heartbeat_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67950 entries, 0 to 67949
Data columns (total 5 columns):
Heart_Beat     67950 non-null int64
Left_Sleep     67950 non-null int64
Mid_Sleep      67950 non-null int64
Right_Sleep    67950 non-null int64
Result         67950 non-null object
dtypes: int64(4), object(1)
memory usage: 2.6+ MB

In [5]:
Heartbeat_DF.describe()

        Heart_Beat    Left_Sleep     Mid_Sleep   Right_Sleep
count  67950.00000  67950.000000  67950.000000  67950.000000
mean      75.00000     25.166681     25.166681     25.166681
std       43.58931     43.493960     43.493960     43.493960
min        0.00000      0.000000      0.000000      0.000000
25%       37.00000      0.000000      0.000000      0.000000
50%       75.00000      0.000000      0.000000      0.000000
75%      113.00000     38.000000     38.000000     38.000000
max      150.00000    150.000000    150.000000    150.000000

In [6]:
Heartbeat_DF

       Heart_Beat  Left_Sleep  Mid_Sleep  Right_Sleep            Result
0               0           1          0            0  Danger-LeftSleep
1               1           1          0            0  Danger-LeftSleep
2               2           1          0            0  Danger-LeftSleep
3               3           1          0            0  Danger-LeftSleep
4               4           1          0            0  Danger-LeftSleep
...           ...         ...        ...          ...               ...
67945         146           0          0          150  Snore-RightSleep
67946         147           0          0          150  Snore-RightSleep
67947         148           0          0          150  Snore-RightSleep
67948         149           0          0          150  Snore-RightSleep
67949         150           0          0          150  Snore-RightSleep

[67950 rows x 5 columns]

In [7]:
Heartbeat_DF.head(10)

   Heart_Beat  Left_Sleep  Mid_Sleep  Right_Sleep            Result
0           0           1          0            0  Danger-LeftSleep
1           1           1          0            0  Danger-LeftSleep
2           2           1          0            0  Danger-LeftSleep
3           3           1          0            0  Danger-LeftSleep
4           4           1          0            0  Danger-LeftSleep
5           5           1          0            0  Danger-LeftSleep
6           6           1          0            0  Danger-LeftSleep
7           7           1          0            0  Danger-LeftSleep
8           8           1          0            0  Danger-LeftSleep
9           9           1          0            0  Danger-LeftSleep